{% extends 'base.html' %}

{% block title %}
Редактирование товара
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3 mt-3">
            <span class="input-group-text">Введите название</span>
            <input type="text" name="name" class="form-control" value="{{item.name}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Введите цену(коп.)</span>
            <input type="number" name="price" class="form-control" value="{{item.price}}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Введите описание</span>
            <textarea type="text" name="description" class="form-control">{{item.description}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-5">Редактировать</button>
    </form>
{% endblock %}