{% extends 'base.html' %}

{% block title %}
Товары
{% endblock %}

{% block content %}
    <div class="d-flex text-white">
        <div class="p-2 flex-grow-1 text-black"><h3>Все товары</h3></div>+
        <div class="p-2"><a class="btn btn-success" href="shopping_cart" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </svg>
            Корзина</a><div class="btn btn-info">{{ count }}</div></div>
        <div class="p-2 invisible">Thirdflexitem</div>
    </div>
    
    {% if items %}
        {% for i in items %}
            <div class="card d-inline-flex" style="width: 18rem;">
                <img src="https://dummyimage.com/600x400/bad1ff/000000.png" class="card-img-top" alt="заглушка">
                <div class="card-body">
                    <h3 class="card-title">{{ i.name }}</h3>
                    <h4 class="card-text">{{ i.normalize_price }} ₽</h4>
                    <h5 class="card-text">{{ i.description }}</h5>
                    <div class="d-inline-block bg-primary"><a class="btn btn-primary" href="item/{{i.id}}" role="button">Оформить</a></div>
                    <span class="d-sm-inline-block bg-primary">
                        <a class="btn btn-success" href="add_cart/{{i.id}}" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                            </svg>
                        </a>
                    </span>
                </div>
            </div>

        {% endfor %}
    {% else %}
        <h3>Корзина пуста :(</h3>
    {% endif %}
{% endblock %}